{{ attach_library('myadmin/bootstrap_table') }}
<div class="container p-5">
<div class="header-wrapper">
	<div class="title-desc">
		<h2 class="bd-title" id="content">
			<span>Les Listes des Stock bas </span>
		</h2>
	</p>
</div>

<table id="table">
<thead>
	<tr>
		<th data-field="id">ID</th>
		<th data-field="name">Article</th>
		<th data-field="stock">Reste Stock</th>
		<th data-field="limit">Limit Stock</th>
	</tr>
</thead></table>
</div>
 <script>
	  var $table = $('#table')
	
	  $(function() {
        var data = {{ getStockBas | json_encode | raw }}
	    $table.bootstrapTable({data: data})
	  })
	</script>
